.thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  box-shadow: 0 0 8px #666;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: gray;
}